[defaults]
inventory = ./hosts.yml
host_key_checking = False
roles_path = ./roles
collections_path = ./collections
log_path = log/ansible.log
interpreter_python = auto_silent
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 86400
strategy = linear
pipelining = True

[privilege_escalation]
become = True
become_method = sudo
become_user = root

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
